---
import Base from "../layouts/Base.astro";
import { getCollection } from "astro:content";

const blogCollection = await getCollection("blogs");
const blogs = blogCollection[0].data.posts;
---

<Base title="Blog">
    <h2>Blog (<a href="/harvest/output/feed.xml">RSS</a>)</h2>
  <p>Articles written by friends and alumni of the UPL. Learn something new about technology, and maybe even yourself.
  </p>
  {
    blogs.map((blog: any) => (
      <h3 style="margin-bottom: 0;"><a href={blog.link}>{blog.title}</a></h3>
      <p>{blog.description}</p>

      <p style="color: #5b5b5b;">{blog.author} | {blog.date}</p>
    ))
  }
</Base>
