---
import Layout from "../layouts/Layout.astro";
import CoordHours from "../content/_coord-hours";
import moment from "moment-timezone";

var rows: string[][] = [];
for (let i = 0; i < CoordHours.length; i++) {
	let tempArr = CoordHours[i].Coords;
	tempArr = [CoordHours[i].Time].concat(tempArr);
	rows.push(tempArr);
}

let currentMoment = moment().tz("America/Chicago");
let curDay = currentMoment.weekday();
let curHour = currentMoment.hour();

let curCoordInfo = {
	hasCoord: false,
	Coord: "",
	Time: "",
};

if (curDay != 0 && curDay <= 5 && curHour >= 10 && curHour <= 17) {
	curCoordInfo = {
		hasCoord: CoordHours[curHour - 10].Coords[curDay - 1] !== "",
		Coord: CoordHours[curHour - 10].Coords[curDay - 1],
		Time: CoordHours[curHour - 10].Time,
	};
}

const hasCoordColor = curCoordInfo.hasCoord ? "text-green-500" : "text-red-700";
---

<Layout>
	<div class="w-5/6 md:text-lg mx-auto font-sans text-gray-600">
		<p>
			Anyone is welcome in the UPL when a Coord is present, and Coords
			commit to be present at certain office hours. Come in and say hi!
		</p>
		<!-- <h5
			class={`pt-2 ${hasCoordColor} font-medium text-center md:text-md text-sm`}
		>
			{
				curCoordInfo.hasCoord
					? `Current Coord: ${curCoordInfo.Coord} (${curCoordInfo.Time})`
					: "No Coord currently scheduled. The UPL is not guaranteed to be open at this time."
			}
		</h5> -->
	</div>
	<div class="mt-8">
		<table
			class="w-full border-t-8 border-red-500 rounded-t-md border-spacing-0 border-separate overflow-x-scroll"
		>
			<thead class="bg-red-500 font-lato">
				<tr class="">
					{
						[
							"Time",
							"Monday",
							"Tuesday",
							"Wednesday",
							"Thursday",
							"Friday",
						].map((e: String) => (
							<th class="text-white md:text-lg text-xs text-left md:px-4 md:py-3 py-2 px-1">
								{e.toUpperCase()}
							</th>
						))
					}
				</tr>
			</thead>
			<tbody class="font-sans">
				{
					rows.map((row) => (
						<tr class="even:bg-gray-200 even:border-b even:border-neutral-300 odd:bg-neutral-100">
							{row.map((d) => (
								<td class="text-neutral-600 md:p-4 sm:p-1 text-start md:text-lg text-xs">
									{d}
								</td>
							))}
						</tr>
					))
				}
			</tbody>
		</table>
	</div>
</Layout>
