---
import Layout from "../layouts/Layout.astro";

import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";
import { faDiscord } from "@fortawesome/free-brands-svg-icons";

const DescriptionStyle = {
	box: "bg-gray-100 flex flex-col md:px-16 px-2 sm:py-10 space-y-2 grow basis-0",
	title: "font-bold text-red-500 text-4xl",
	description: "text-gray-700",
};

const QAStyles = {
	box: "border border-slate-100 shadow-xl rounded-2xl my-6 py-8 px-16",
	header: "mb-2 text-left font-bold text-4xl",
	answer: "font-sans",
};

const DiscordLink = "https://discord.gg/dmefFzm";
---

<Layout useFull={true}>
	<div class="md:w-3/4 mx-auto space-x-96">
		<div class="flex flex-col font-bold content-start space-y-6">
			<div class="md:pt-24 text-7xl">
				<h1 class="text-gray-700">The UPL is the place to</h1>
				<h1 class="text-red-500">have fun.</h1>
			</div>
			<div>
				<a
					href={DiscordLink}
					class="inline-flex items-center w-fit bg-red-500 text-white font-sans font-semibold py-2 px-3 rounded-md hover:bg-red-700 focus:outline outline-offset outline-3 outline-sky-300"
				>
					<div class="w-2/12 mr-2">
						<FontAwesomeIcon icon={faDiscord} />
					</div>
					<p class="flex-nowrap w-40">Join the Discord</p>
				</a>
				<!-- <h3>Visit us at CS XXXX</h3>
				<h6>The triangle-shaped room next to the CS Shelf</h6> -->
			</div>
		</div>
	</div>
	<div class="bg-gray-100">
		<div class="mx-auto md:w-11/12 font-sans mt-20 bg-gray-50 flex flex-row">
			<div class={DescriptionStyle.box}>
				<h1 class={DescriptionStyle.title}>Who we are...</h1>
				<p class={DescriptionStyle.description}>
					The UPL is a social club. Stop by any time the room is open! Feel free
					to stop by between classes or as a place to eat your lunch. The UPL
					Coordinators are happy to answer questions, help you with homework,
					help you start a project, and more! Or, don't come in with any goal at
					all! We'd love to meet you.
				</p>
			</div>
			<div class="bg-gray-700 border-l my-8"></div>
			<div class={DescriptionStyle.box}>
				<h1 class={DescriptionStyle.title}>Who we are NOT...</h1>
				<p class={DescriptionStyle.description}>
					The UPL itself does not do any projects. Rather, people within the lab
					do projects, and use the space as a way to connect with other UW
					students. Check out our blog to see what UPL'ers are up to.
				</p>
			</div>
		</div>
	</div>
	<div class="my-8 text-gray-700">
		<h1 class="text-center text-4xl font-bold my-8">
			Frequently Asked Questions
		</h1>
		<div class="md:w-11/12 mx-auto grid md:grid-cols-2 gap-8">
			<div class={QAStyles.box}>
				<h1 class={QAStyles.header}>Do I need to be a CS major?</h1>
				<p class={QAStyles.answer}>
					No! While we're a CS focused organization, you don't need to be a CS
					major!
				</p>
			</div>
			<div class={QAStyles.box}>
				<h1 class={QAStyles.header}>
					What resources are available through the UPL?
				</h1>
				<ul class={"list-disc " + QAStyles.answer}>
					<li>A lab room in the CS building.</li>
					<li>Server infrastructure for project use.</li>
					<li>Books to check out.</li>
					<li>
						And of course, each other, to talk to about anything CS (and more!).
					</li>
				</ul>
			</div>
			<div class={QAStyles.box}>
				<h1 class={QAStyles.header}>
					Do I need to be an undergraduate student?
				</h1>
				<p class={QAStyles.answer}>
					No, you do not. Anyone who is a registered student with the University
					is welcome to use the machines and resources of the lab. We do have a
					few graduate students that frequent the lab as well.
				</p>
			</div>
			<div class={QAStyles.box}>
				<h1 class={QAStyles.header}>Can we still use the servers remotely?</h1>
				<p class={QAStyles.answer}>
					Yes! It is possible for us to remotely access our servers. If that
					interests you, talk to us! Server infrastructure is an ongoing
					project.
				</p>
			</div>
		</div>
	</div>
</Layout>
