---
import { Image } from "astro:assets";
import Base from "../layouts/Base.astro";
import { getCollection } from "astro:content";

const projects = await getCollection("projects");
---

<Base title="Projects">
  <h2>Projects</h2>
  <div class="projects-list">
    {
      projects.map((project) => (
        <div class="upl-project">
          <Image
            height="600"
            width="600"
            class="project-image"
            src={project.data.image}
            alt={`Image of ${project.data.title}`}
          />

          <div class="content-wrapper">
            <div class="project-info">
              <h3 class="project-title">{project.data.title}</h3>
              <p>{project.data.description}</p>
            </div>
            <div class="author-info">
              <p>
                by
                {Array.isArray(project.data.authors)
                  ? project.data.authors.join(", ")
                  : project.data.authors}
              </p>
              <p>
                <a href={project.data.source}>Source</a>
                {project.data.writeup && (
                  <>
                    {" | "}
                    <a href={project.data.writeup}>Writeup</a>
                  </>
                )}
              </p>
            </div>
          </div>
        </div>
      ))
    }
  </div>
</Base>
