---
import type { CollectionEntry } from "astro:content";

type Props = {
  collection: string;
  data: {
    title: string;
    pubDate: Date;
    author: string;
    description?: string;
    sourceUrl?: string;
  };
  slug?: string;
  render?: () => Promise<any>;
};

const { data, collection, render, slug } = Astro.props;

let formatter = new Intl.DateTimeFormat("en", {
    year: "numeric",
    month: "long",
    day: "numeric",
});

const formattedPubDate = formatter.format(data.pubDate);
const href = collection === "harvest" ? data.sourceUrl : `/blog/${slug}/`;
---

<a
    href={href}
    class="block w-full bg-red-100 rounded-lg hover:shadow-lg transition-shadow duration-200"
    target={collection === "harvest" ? "_blank" : "_self"}
    rel={collection === "harvest" ? "noopener noreferrer" : null}
>
    <div class="p-6">
        <h1 class="text-xl font-bold text-gray-900 mb-2">
            {data.title}
        </h1>
        <div class="text-sm text-gray-600 mb-3">
            Published {formattedPubDate} · By {data.author}
        </div>
        {data.description &&
            <p class="text-gray-700 line-clamp-3">
                {data.description}
            </p>
        }
    </div>
</a>
